[submodule "lib/hexMachina"]
	path = lib/hexMachina
	url = https://github.com/DoclerLabs/hexMachina.git
[submodule "lib/3rdparty/hls.js-haxe-extern"]
	path = lib/3rdparty/hls.js-haxe-extern
	url = https://github.com/grosmar/hls.js-haxe-extern.git
[submodule "lib/3rdparty/protohx"]
	path = lib/3rdparty/protohx
	url = https://github.com/nitrobin/protohx.git
[submodule "lib/3rdparty/mockatoo"]
	path = lib/3rdparty/mockatoo
	url = https://github.com/grosmar/mockatoo.git
[submodule "lib/3rdparty/hamcrest-haxe"]
	path = lib/3rdparty/hamcrest-haxe
	url = https://github.com/grosmar/hamcrest-haxe.git
[submodule "lib/docler/hexmachina-modules"]
	path = lib/docler/hexmachina-modules
	url = https://stash.doclerholding.com/scm/haxe/hexmachina-modules.git
[submodule "lib/docler/hexmachina-services"]
	path = lib/docler/hexmachina-services
	url = https://stash.doclerholding.com/scm/haxe/hexmachina-services.git
