<div class="Page Page--main Page--chat">
	<!--<span onclick={incr}>Counter: {i}</span>-->
	<stream></stream>
	<div class="Page-contentWrapper">
		<div class="Page-content">
			<div class="Page-contentCol Page-contentCol--left">
				<start-private></start-private>
			</div>
			<div class="Page-contentCol Page-contentCol--right">
				<div class="Chat">
					<chat-input class="{is-hidden : chatCollapsed}"></chat-input>
					<chat-box class="{is-collapsed : chatCollapsed}"></chat-box>
				</div>
			</div>
		</div>
	</div>
</div>
